body { font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-size: 1.5rem; margin: 0; padding: 0; }
.container { width: 80%;  margin: 0 auto; }

.btn {
  display: inline-block; 
  padding: 6px 12px; 
  font-size: 1rem; 
  line-height: 1.42857143;
  outline: none;
  text-align: center; 
  cursor: pointer; 
  background-image: none; 
  border: none; 
  border-radius: 4px; 
  color: #fff; 
  background-color: hsl(175, 49%, 42%);
  position: relative;
}

.nav .btn.hamburger {
  margin: 10px auto;
  display: none;
  @media all and (max-width: 600px) {
    display: block;
  }
}

.nav .container {
  max-width: 1200px;
  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.nav .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsl(45, 41%, 92%);

  @media all and (min-width: 600px) {
    flex-direction: row;
    background: none;
  }
}

.nav .navbar.hidden {
  @media all and (max-width: 600px) {
    display: none;
  }
}

.nav .navbar .btn {
  margin: 0 auto;
  text-align:  center;
}

.nav .navbar a {
  color: hsl(15, 80%, 50%);
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 16px 9px;
  white-space: nowrap;
  text-align: center;
}

.nav .navbar a:hover {
  color: hsl(15, 70%, 36%);
  @media all and (max-width: 600px) {
    background-color: hsl(45, 41%, 88%);
  }
} /* hover */