@mixin btn($color) {
  display: inline-block; 
  padding: 6px 12px; 
  font-size: 1rem; 
  line-height: 1.42857143;
  outline: none;
  text-align: center; 
  cursor: pointer; 
  background-image: none; 
  border: none; 
  border-radius: 4px; 
  color: #fff; 
  background-color: $color;
  position: relative;
}

.nav .btn.hamburger {
  @include btn($green);
  margin: 10px auto;
  display: none;
  @media all and (max-width: 600px) {
    display: block;
  }
}