@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #313235; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FFF;
  background-color: #FFF; }

.reveal {
  font-family: Raleway, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: .015em;
  color: #313235; }

::selection {
  color: inherit;
  background: #dadada;
  text-shadow: none; }

.reveal .slides {
  text-align: left; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.2;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #313235;
  font-family: Raleway, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  margin-top: 20pt;
  margin-bottom: 40pt;
  text-align: left;
  text-transform: inherit;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 50pt; }

.reveal h2 {
  font-size: 48pt; }

.reveal h3 {
  font-size: 44pt; }

.reveal h4 {
  font-size: 38pt; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 160%; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0; }

.reveal ol {
  list-style-type: decimal;
  width: 100%; }

.reveal ul {
  width: 100%;
  list-style-type: disc; }

.reveal ul li, .reveal ol li {
  margin-left: 50px;
  margin-bottom: 40pt; }

.reveal li + code, .reveal ol li + code {
  margin-left: -300px; }

.reveal ul ul {
  list-style-type: square;
  margin-bottom: 20pt; }

.reveal ul li ul li:first-child, .reveal ol li ul li:first-child {
  margin-top: 20pt; }

.reveal ul li ul li, .reveal ol li ul li {
  margin-bottom: 20pt; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic; }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 120%;
  word-wrap: break-word;
  outline: none !important; }

.reveal code {
  font-family: 'Calynda',monospace;
  padding: 10px; }

.reveal li code {
  background: #eee;
  color: #0077B5;
  border-radius: 5px; }

.reveal pre code {
  display: block;
  padding: 10px 20px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 2rem !important;
  width: 100%; }

.reveal table th {
  vertical-align: middle;
  font-weight: bold;
  color: #FFF;
  background: #0077B5;
  line-height: 100%;
  border: 1px solid; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.5em;
  border: 1px solid black; }

.reveal table th {
  border: 1px solid white;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th:first-child {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th:last-child {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table td {
  font-size: 1.7rem; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 120%; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #E68523;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #eeab68;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #FFF;
  background: #a95f13; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #E68523; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #E68523; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #E68523; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #E68523; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #E68523; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #eeab68; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #eeab68; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #eeab68; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #eeab68; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #E68523;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * Code
 *********************************************/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eee;
  color: #313235;
  border-radius: 10px;
  font-family: 'Calynda', monospace; }

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-addition {
  color: #070; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong,
.hljs-string,
.hljs-deletion {
  color: #d14; }

.hljs-strong {
  font-weight: bold; }

.hljs-quote,
.hljs-comment {
  color: #998;
  font-style: italic; }

.hljs-section,
.hljs-title {
  color: #900; }

.hljs-class .hljs-title,
.hljs-type {
  color: #458; }

.hljs-variable,
.hljs-template-variable {
  color: #336699; }

.hljs-bullet {
  color: #997700; }

.hljs-meta {
  color: #3344bb; }

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
  color: #0077B5; }

.hljs-regexp {
  background-color: #fff0ff;
  color: #880088; }

.hljs-symbol {
  color: #990073; }

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #007700; }

/*********************************************
 * OVERRIDE FRAGMENTS ANIMATION
 *********************************************/
.reveal .slides section .fragment {
  -webkit-transition: all ease;
  transition: all ease; }

/*********************************************
 * Title Slide
 *********************************************/
.title body {
  background: #3D1E61; }

.title .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important; }

.title .slides {
  letter-spacing: .05em;
  color: #FFF;
  text-align: center; }

.title .slides h1, .title .slides h2, .title .slides h3, .title .slides h4, .title .slides h5, .title .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0; }

.title .slides h1 {
  font-size: 4.5rem; }

.title .slides p {
  margin-top: 0;
  font-size: 4.2rem; }

/*********************************************
 * Text on Image
 *********************************************/
.textonimage body {
  background-image: #0077B5; }

.textonimage .slides {
  height: 100%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important; }

.textonimage .slides {
  letter-spacing: .05em;
  color: #FFF;
  text-align: center; }

.textonimage .slides h1, .textonimage .slides h2, .textonimage .slides h3, .textonimage .slides h4, .textonimage .slides h5, .textonimage .slides h6 {
  color: inherit;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7); }

.textonimage .slides p {
  margin-top: 0;
  text-shadow: 0px 0px 10px black; }

/*********************************************
 * Has Bar
 *********************************************/
.bar body {
  background-repeat: no-repeat;
  background-image: linear-gradient(#0077B5, #0077B5), linear-gradient(#FFF, #FFF);
  background-size: 100% 25%, 100%; }

.bar h1, .bar h2, .bar h3 {
  color: #FFF; }

/*********************************************
 * Has Icon
 *********************************************/
.hasicon .slides {
  margin-left: 15% !important; }

.hasicon .slides h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

.hasicon .slides h2 > i {
  font-size: 120px;
  color: #E68523;
  margin-left: -120px;
  vertical-align: middle; }

/*********************************************
 * Raybo New
 *********************************************/
.tooltip {
  position: relative; }

.tooltip span {
  background: #DC322F;
  bottom: 100%;
  display: block;
  font-size: .7em;
  left: -20px;
  opacity: 0;
  padding: 2px 10px;
  margin-bottom: 5px;
  pointer-events: none;
  position: absolute;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid white;
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
  transform: translateY(25px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out; }

.tooltip:hover span {
  display: inline-block;
  width: 450px;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

a.tooltip span {
  color: #FFF !important; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #C61C6F;
  color: #FCF4DC;
  background-color: #C61C6F;
  background-size: 18px 18px;
  min-width: 28px;
  min-height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.fragment.visible a.btn {
  animation-name: showit;
  -webkit-animation-name: showit;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

a.btn {
  padding: 6px 12px;
  margin-top: 20px;
  color: white !important; }

a.btn.tooltip {
  padding: 0;
  vertical-align: -8%; }

.btn .btn-left {
  float: left; }

.btn .btn-right {
  float: right; }

.btn:hover {
  background-color: #DC322F; }

.btn-list {
  background-image: url(icons/icon_list.png); }

.btn-checkin {
  background-image: url(icons/icon_checkmark.png); }

.btn-delete {
  background-image: url(icons/icon_trash.png); }

.btn-help {
  background-image: url(icons/icon_question.svg); }

.btn-love {
  background-image: url(icons/icon_heart.png); }

.btn-email {
  background-image: url(icons/icon_email.png); }

.btn-meeting {
  background-image: url(icons/icon_meeting.png); }

.btn-menu {
  background-image: url(icons/icon_menu.svg); }

.btn-prev {
  display: inline-block;
  padding: 0 10px 0 30px !important;
  background-image: url(icons/arrow_left.svg);
  background-position: 10% center;
  font-size: .7em !important; }

.btn-next {
  display: inline-block;
  background-image: url(icons/arrow_right.svg);
  padding: 0 35px 0 10px !important;
  background-position: 90% center;
  font-size: .7em !important; }

.reveal a.jsbin-embed {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 140%;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #C61C6F;
  color: #EEE8D5 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.reveal a.jsbin-embed:hover {
  background: #CB4B19; }

.footer {
  font-size: .7em !important;
  display: block;
  background: #EFC94C;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 500;
  padding: 10px 0 !important; }
